.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  width: 400px;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-form {
  width: 400px;
  margin: auto;
}
input {
  font-size: 20px;
}
button {
  font-size: 20px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  padding: 0.2em 1.2em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgb(119, 134, 184);
}
.btn-load-more {
  display: block;
  margin: auto;
}
button:hover {
  background: rgb(103, 161, 209);
}
